body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
}

html {
  overflow-x: hidden;
}

header {
    background-color: #ffffff;
    border-bottom: 2px solid #bebebe;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header1 {
    background-color: #F9F9F9;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    margin-left: 250px;
    font-size: 37px;
    color: #435f2c;
    font-family: Georgia;
}

.image-button {
  width: 100px;
  margin-right: 200px;
  height: 65px;
  border: none;
  background-size: cover;
  cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
  }

  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    font-size: 22px;
    margin: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
  }

 .gora{
    width: 1920px;
    height: 400px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.10) 100%), url(../img/gora.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .gora h1{
    padding-top: 70px;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 77px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }

  .gora p{
    color: #FFF;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .content h1{
    color: #000;
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-align: center;
margin: 60px 0;
  }


  .line{
    display: flex;
    justify-content: space-around;
    margin: 120px 0;
  }

  .line .conteiner .title p {
    color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }
  .line .conteiner .caption p{
    color: #000;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .line .conteiner .icon{
    display: flex;
    justify-content: center;
  }








footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    width: 100%;
}

.nav a {
text-decoration: none;
color: var(--White, #FFF);
font-family: Arial;
font-size: 14px;
font-style: normal;
font-weight: 400px;
line-height: normal;
text-transform: uppercase;
margin: 0 10px;
}


.nav {
  /* width: 231px; */
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: 62px 244px;
  border: 1px solid #fff;
  border-right: 0px;
  border-left: 0px;
}

footer .ikonki {
  display: flex;
}

footer .ikonki img {
  margin: 0 10px;
}

footer .ikonki p {
  /* width: 200px; */
  margin: 0 90px;
}